<h1> Dashboard </h1>

<!--<a href="!#/logout">Logout</a> -->

<button ng-click="logout()">Log Out</button>

<table class="table-striped">
	<tr>
		<th>User</th>
		<th>Food</th>
		<th>Calories</th>
	</tr>
	<tr ng-repeat="entry in entrydata | orderBy: 'calories'">
		<td>{{entry.person}}</td>
		<td>{{entry.food}}</td>
		<td>{{entry.calories}}</td>
	</tr>

</table>

<p>
Food: <input type="text" name="food" ng-model="toAddFood"> 
<br>
Calories: <input type="text" name="calories" ng-model="toAddCalories">
<br>
<button ng-click="addEntry()">Add Entry</button>
<p>
